<head>
  <title>Pusher Test</title>
  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
  <!-- UIkit CSS -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css"
  />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
</head>

<body>
  <ul uk-tab>
    <li><a href="#">login</a></li>
    <li><a id="ChatWindow" href="#">chat window</a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
    <li>
      <div></div>
      <form onsubmit="join(event)" class="uk-form-stacked">
        <label class="uk-form-label uk-form-width-small" for="username"
          >username</label
        >
        <input required class="uk-input uk-form-width-small" id="username" />
        <label class="uk-form-label uk-form-width-small" for="channel"
          >channel</label
        >

        <input required class="uk-input uk-form-width-small" id="channel" />

        <button class="uk-button" type="submit">join channel</button>
      </form>
    </li>
    <li>
      <p></p>

      <div id="messages">
        you need to join a channel to access the chat page here
      </div>
      <input class="uk-input" id="messageText" />
      <script src="script.js"></script>
      <button
        class="uk-button uk-button-primary"
        id="send_message"
        onclick="sendMessage()"
      >
        Send Message
      </button>
    </li>
  </ul>

  <button class="uk-button uk-button-danger" onclick="logOut()">logout</button>
</body>
